@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --black: #071005;
    --secondary: #0b231e;
    --accent: #2c9049;
    --font: 'Montserrat', sans-serif;
    --text: #def3d8;
}

*{
    padding: 0;
    margin: 0;
}

a, p, h1, h2, h3, h4, h5, h6{
    letter-spacing: 0px;
}

.center{
    flex-direction: column;
    overflow: hidden;
}

.box-center{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
}

.box-center:nth-child(1){
    
}

.background-image{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -4;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.1;
    filter:grayscale();
    background-size:     cover;        
    background-repeat:   no-repeat;
    background-position: center center;  
}

.box{
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.picture-box{
    width: 300px;
    height: 300px;
    min-height: 200px;
    min-width: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.profile-picture:hover{
    filter:grayscale(100);
}

.box-title{
    color: var(--accent);
    font-family: var(--font);
    font-size: 50px;
    text-align: center;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-paragraph{
    color: var(--text);
    font-family: var(--font);
    font-size: 50px;
    text-align: center;
    margin-left: 5px;
    letter-spacing: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
}

.box-content{
    position: relative;
    width: 85%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer{
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.icon-item{
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    transition: 0.5s;
    border-radius: 25px;
    background-color: var(--secondary);
}

.open-menu .fa{
    color: var(--text);
}

.footer .fa{
    color: var(--text);
    text-decoration: none;
    font-size: 80px;
    transition: 0.5s;
}

.icon-item:hover .fa{
    color: var(--accent);
}

.card-items{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;;
}

.card{
    background-color: transparent;
    width: auto !important;
    height: 100px;
    margin: 50px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-family: var(--font);
}

.title-p{
    color: var(--text);
    font-size: 64px;
}

.card:hover .title-p{
    color: var(--accent);
    background-color: transparent;
    animation: hide-box 1s forwards;
}

@keyframes hide-box{
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

.card:hover .card-desc{
    display: flex;
    animation: show-desc 1s forwards;
}

@keyframes show-desc {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover .card-img{
    width: 25%;
    height: 75px;
}

.card-img{
    position: relative;
    width: 20%;
    height: 63px;
    transition: 0.5s;
}

.scroll-center{
    position:fixed;
    width: 100%;
    height: 20%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1; /* Výchozí skrytí tlačítka */
    transition: opacity 0.5s;
}

.scroll-item{
    width: 40px;
    height: 70px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;

}

#scroll-button {
    cursor: pointer;
    color: var(--text);

}

.show-scroll-button {
    opacity: 1; /* Zobrazení tlačítka */
}

/* Responsive menu */

  .open-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    border: none;
    cursor: pointer;
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    z-index: 999;      
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .close-menu {
    position: relative;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: var(--accent);
    color: var(--accent);
    display: none;
    justify-content: center;
    align-items: center;
  }

  
  .navbar-menu{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    z-index: 998;
    transform: translateX(-100%);
}
  
  .container-menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-fill-mode: forwards;
  }
  
  .hide-menu {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: flex-start;
    animation: fade-out 1s;
  }

  @keyframes fade-out {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
  }
  
  #menu-button{
    position: relative;
    color: var(--text);
    width: 100%;
    height: 100%;
  }

  .menu-items {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
.menu-item {
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--secondary);
    margin: 20px;
    transition: 0.5s linear;
}

.back-color{
    position:absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    transform: translateX(-100%);
    background-color: var(--accent);
    z-index: 1;
}

.creator-credit{
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.creator-p{
    font-size: 64px;
    color: var(--text);
    font-family: var(--font);
}

.menu-item:hover .back-color{
    transform: translateX(0%);
}

.menu-item:hover p{
    color: var(--text);
}

.menu-item p {
    color: var(--text);
    text-decoration: none !important;
    font-family: var(--font);
    font-size: 65px;
    transition: 0.5s;
    
}

.box-center, .footer, .scroll-center {
    z-index: 200; /* Vyšší hodnota z-index pro ostatní prvky */
}

.card-desc{
    text-align: center;
    display: none;
    opacity: 0;
    transition: 1s;
}

.card-desc-p{
    font-size: 48px;
    color: var(--text);
}

.bg-item{
    position: relative;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
}

/* portfolio */

.portfolio-header-sec{
    position: relative;
    height: 100px;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-header{
    color: var(--text);
    font-family: var(--font);
    font-size: 64px;;
}

.content-portfolio{
    position:relative;
    height: auto !important;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.port-item{
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid var(--text);
    margin: 20px;
}

.port-img{
    position: relative;
    width: 100%;
    height: 100%;
}






@media screen and (max-width: 880px) {
    
    .box-center{
        flex-direction: column;
    }

    .box:nth-child(1){
    }

    .box:nth-child(3){
        justify-content:start;
    }

    .navbar-item{
        width: 200px;
    }

    .navbar{
        position: relative;
    }

    .box-paragraph{
        text-align: center;
    }

    .box-title{
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .footer{
        flex-direction: column;
    }

    .menu-item p {
        font-size: 54px;    
    }
    
    .creator-p{
        font-size: 40px;
    }

}

@media screen and (max-width: 560px) {

    .navbar{
        height: 300px;
        flex-direction: column;
        position: relative;
    }

    .navbar-item{
        width: 100%;
        height: 100px;
    }

    .box-title{
        font-size: 42px;
    }

    .box-paragraph{
        font-size: 36px;
    }

    .footer .fa{
        color: var(--text);
        text-decoration: none;
        font-size: 64px;
    }

    .icon-item{
        margin: 20px;
    }

    .menu-item p {
        font-size: 42px;    
    }

    .creator-p{
        font-size: 35px;
    }

}

@media screen and (max-width: 402px){
    
    .menu-item p {
        font-size: 35px;    
    }

    .box-title{
        font-size: 36px;
    }

    .box-paragraph{
        font-size: 32px;
    }

    .title-p{
        font-size: 48px;
    }
    .card-desc-p{
        font-size: 36px;
    }

    #menu-button{
        width: 60%;
        height: 60%;
    }

    .creator-p{
        font-size: 24px
    }

    .port-item{
        width: 320px;
        height: 320px;
    }

}